* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(
    #1354a5 0%,
    #041832 33.33%,
    #041832 66.67%,
    #01080e 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body::before {
  background-image: url("img/code.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  display: block;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  margin: 2rem;
}

.container {
  width: auto;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #1875e8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("img/Ruido.png");
  background-size: 100vh 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem;
  margin: 2rem;
}

.container__conteudo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.container__informacoes {
  flex: 1;
  padding: 2rem;
}

.container__texto {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__texto-azul {
  color: #1875e8;
  display: block;
}

.container__campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 1rem;
}

.container__input {
  width: 130px;
  height: 72px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  color: #1875e8;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.container__botoes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  max-width: 20rem;
}

.container__botao,
.container__botao-desabilitado {
  border-radius: 16px;
  padding: 16px 24px;
  font-size: 24px;
  width: 100%;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.container__botao {
  background: #1875e8;
  transition: background 0.3s ease;
}

.container__botao:hover {
  background: rgb(157, 168, 251);
}

.container__botao-desabilitado {
  background: #6f6f70;
  cursor: not-allowed;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 2rem 0;
}

.texto__paragrafo {
  color: #fff;
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto__resultado {
  height: 20rem;
  width: 100%;
  text-align: center;
  padding: 2rem;
  justify-content: center;
  background: #1875e8;
  color: #fff;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-break: break-all;
  margin: 2rem;
  border: 2px solid #1875e8;
  border-radius: 16px;
  overflow-y: auto;
}

.container__imagem-pessoa {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

button:disabled {
  background-color: gray;
}

/*A responsividade de telas*/

@media screen and (max-width: 2560px) {
  .container {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .container__texto {
    align-items: center;
    padding: 2rem;
    width: 100%;
    justify-content: ;
  }
  .container__campo {
    align-items: center;
    width: auto;
    min-width: 30rem;
  }

  .container__informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 80px;
  }

  .texto__paragrafo {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {

  .container {
    width: 100%;
    padding: 2rem;
    display: flex;
    text-align: center;
  }
  
  .container__informacoes {
    align-items: center;
    width: 100%;
  }

  .container__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
  }
  
  .container__input {
    width: 100px;
    height: 60px;
    font-size: 20px;
  }
  
  .container__botao,
  .container__botao-desabilitado {
    font-size: 20px;
    padding: 12px 20px;
  }
  
  h1 {
    font-size: 40px;
    
  }
  
  .texto__paragrafo {
    font-size: 20px;
  }
  
  .texto__resultado {
    height: 20rem;
    width: 20rem;
    font-size: 22px;
    align-items: center;
  }

  .container__imagem-pessoa {
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (max-width: 480px) {
  .container__texto {
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: center;
    width: 100%;
  }

  .texto__resultado {
    height: 10rem;
    width: 15rem;
    font-size: 12px;
    align-items: center;
  }

  .container__informacoes {
    align-items: center;
    width: 100%;
  }

  .container {
    width: 100%;
    peding: 1em;
    margin-top: 4em;
  }

  h1 {
    font-size: 32px;
  }

  .texto__paragrafo {
    font-size: 18px;
  }

  .container__input {
    width: 120px;
    height: 30px;
    font-size: 18px;
  }

  .container__campo {
    flex-direction: column;
  }

  .container__imagem-pessoa {
    display: none;
  }
}
